div {
  text-align: center;
}

a {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  padding-bottom: 10px;
}

img {
  height: 400px;
}

span,
select {
  margin-top: 10px;
  display: inline-block;
}

button {
  border: 0;
  border-radius: 4px;
  background-color: rgb(228, 228, 228);
}

#go-button {
  width: 54px;
  height: 21px;
  margin-left: 6px;
}

#random-button {
  height: 40px;
  margin-top: 14px;
}
